<div class="calendar-header">
  <span ng-click="today()" class="btn btn-default">Today</span>
  <span ng-click="previous()" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></span>
  <span ng-click="next()" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></span>
  <span class="date">{{month.format("MMMM YYYY")}}</span>
</div>
<table width="100%" height="100%" class="table table-bordered">
  <thead>
    <tr>
      <td><span class="day-name">Sun</span></td>
      <td><span class="day-name">Mon</span></td>
      <td><span class="day-name">Tue</span></td>
      <td><span class="day-name">Wed</span></td>
      <td><span class="day-name">Thu</span></td>
      <td><span class="day-name">Fri</span></td>
      <td><span class="day-name">Sat</span></td>
    </tr>
  </thead>
  <tbody>
    <tr class="week-days" ng-repeat="week in weeks">
      <td class="day-container"
      ng-repeat="day in week.days"
      data-month="{{day.month}}"
      data-day="{{day.number}}"
      events="{{eventsThisMonth}}"
      ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), 'long-month': weeks.length === 6 }" ng-click="select(day)">
      <div class="day" >{{day.number}}</div>
      <ul class="events-container">
        <li class="event" ng-repeat="event in eventsToday">{{ event.title }}</li>
      </ul>
    </td>
  </tr>
</tbody>
</table>
