<div class="popover-header">
  <h4 class="text-primary">{{calendarEvent.title}}</h4>
  <button class="pull-right close popover-close" type="button" aria-label="Close" ng-click="eventPopOver.close()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="popover-body">
  <p><strong>When:</strong> {{ calendarEvent.start | date : 'EEE, MMMM d'}}</p>
  <p ng-if="!calendarEvent.isAllDay">{{ calendarEvent.start | date :'h:mm a'}} - {{ calendarEvent.end | date : 'h:mm a'}}</p>
  <p><strong>Calendar:</strong> {{calendar.title}}</p>
</div>
<div class="popover-footer">
  <a class="pull-left" ng-click="openEventModal(calendarEvent._id, true)">Delete</a>
  <a class="pull-right" ng-click="openEventModal(calendarEvent._id)">Edit event >></a>
</div>
