.calendar {
  position: absolute;
  right: 20px;
  left: 200px;
  top: 0;
  bottom: 150px;
}

.calendar-header {

  height: 60px;

  .date {
    position: absolute;
    padding: 15px;
    font-weight: bold;
  }

  .action {
    cursor: pointer;
    width: 15px;
    height: 22px;
    position: absolute;
    top: 10px;
    display: inline-block;

    &:hover {
      opacity: .6;
    }

  }

  .prev {
    @extends .action;
    background-image: url('../images/chevron-left.png');
    left: 180px;
  }

  .next {
    @extends .action;
    background-image: url('../images/chevron-right.png');
    left: 220px;
  }
}


.week-days {

}

.day-container {
  width: 100 / 7 * 1%;
  height: 100 / 5 * 1%;
  cursor: pointer;

  &.today {
    background-color: $today-color;
    font-weight: bold;
    &.selected {
      background-color: $today-color;
    }
  }

  &.selected {
    background-color: #fff5ff;
  }

  &.different-month {
    color: #999;
  }

  &.long-month {
    height: 100 / 6 * 1%;
  }
}

.day-name {
  line-height: 26px;
  font-weight: bold;
}

.event {
  font-weight: normal;
}

.date-picker-popup th {
  vertical-align: top;
}
