.calendar {
  position: absolute;
  right: 20px;
  left: 200px;
  top: 0;
  bottom: 150px;
}

.calendar-header {

  height: 60px;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  position: absolute;
  left: -190px;
  right: 0;
  top: 0;
  line-height: 45px;

  .date {
    position: absolute;
    padding: 15px;
    font-weight: bold;
  }

  .action {
    cursor: pointer;
    width: 15px;
    height: 22px;
    position: absolute;
    top: 10px;
    display: inline-block;

    &:hover {
      opacity: .6;
    }

  }

  .prev {
    @extends .action;
    background-image: url('../images/chevron-left.png');
    left: 180px;
  }

  .next {
    @extends .action;
    background-image: url('../images/chevron-right.png');
    left: 220px;
  }
}

.calendar-table {
  position: absolute;
  top: 65px;
}


.week-days {

}

.day-container {
  width: 100 / 7 * 1%;
  height: 100 / 5 * 1%;
  cursor: pointer;

  &.today {
    border: 2px solid #000;
    background-color: $today-color;
    font-weight: bold;
    &.selected {
      background-color: $today-color;
    }
  }

  &.selected {
    background-color: #fff5ff;
  }

  &.different-month {
    color: #999;
  }

  &.long-month {
    height: 100 / 6 * 1%;
  }
}

.day-name {
  line-height: 18px;
}

.event {
  font-weight: normal;

  >a,
  >a:active,
  >a:hover,
  >a:visited {
    color: #000;
    text-decoration: none;
  }
}

.date-picker-popup th {
  vertical-align: top;
}

.popover-header {
  >h3 {
    margin-top: 0;
  }
}
.popover-close {
  position: relative;
  top: -45px;
  right: -5px;
}

.color-swatches {
  height: 30px;
}

.color-swatch {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 5px;
  border-radius: 3px;
  color: #FFFFFF;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
