@import 'reset';
@import 'variables';
@import 'calendar';

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


body {
	font-family: $font-stack;
}

.content {
	width: 100%;
	height: 100%;
}

.vertical-nav {
	width: 200px;
	height: 100%;
	padding: 15px 10px;
	position: absolute;
	left: 0;
}

.calendar-list {
	clear: both;
	margin-top: 55px;

	.list-group-item {
		cursor: pointer;
	}
}

// over bootstrap
.form-horizontal .control-label {
  &.no-top {
    margin-top: 0;
    padding-top: 0;
  }
}





