@import 'reset';
@import 'variables';
@import 'calendar';

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


body {
	font-family: $font-stack;
}

.content {
	width: 100%;
	height: 100%;
}

.logo {
  display: inline-block;
  margin: 0 45px;
}

.vertical-nav {
	width: 200px;
	height: 100%;
	padding: 15px 10px;
	position: absolute;
	left: 0;
  top: 60px;
}

.calendar-list {
	clear: both;
	margin-top: 55px;

	.list-group-item {
		cursor: pointer;
	}
}

// over bootstrap
.form-horizontal .control-label {
  &.no-top {
    margin-top: 0;
    padding-top: 0;
  }
}

.table-bordered {
  border: none;
}

.table-bordered > thead > tr > td {
  border: none;
}

.popover {
  min-width: 270px;
}

.brand-primary {
  background-color: $brand-primary;
}
.brand-success {
  background-color: $brand-success;
}
.brand-info {
  background-color: $brand-info;
}
.brand-warning {
  background-color: $brand-warning;
}
.brand-danger {
  background-color: $brand-danger;
}




